

.hero-head {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 36rem;
    width: 100vw;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: -1;
    background-image: linear-gradient(
        to bottom, 
         rgba(10,10,10,0.6) 0%,
         rgba(10,10,10,0.6) 60%,
         rgba(10,10,10,1) 100%), url('../images/header-image.jpg');
   
}
.hero-foot {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 18rem;
    width: 100vw;
    
    z-index: -1;
    transform: translateY(-100px);
    background-image: linear-gradient(
        to bottom, 
        rgba(10,10,10,1) 0%,
        rgba(10,10,10,0.6) 50%,
        rgba(10,10,10,1) 100%), url('../images/general-footer-image.jpg') 
    
}
@media screen and (max-width: 500px) {
    .hero-foot {
       display: none;

    }

}