@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

* {
    margin: 0;
    padding: 0;
  }
  // BASIC SELECTORS -----------------------
body {
    font-family: Muli,sans-serif;
    line-height: 1.6; 
    background-color: #000;
    color: #fff;
    max-width: 1280px;
}
h1, h2, h3, h4 {  
    text-align: center;
    font-family: Baskerville,serif;
}
h1, h2 {
    
    font-weight: 400;
    line-height: 4rem;
}
h1 {
    font-size: 3rem;    
}
h2 {
    font-size: 1.8rem;
    margin-bottom: 3rem;

}
h3 {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 200;
}
p {
    line-height: 2rem;
    font-weight: 200;
}
a {
    line-height: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    color: white;   
}

 // FORM ------------------------

label {
  font-size: .9rem;
  line-height: 1.5rem;
  font-weight: 700;
  transition: all 0.3s ease 0s;
};

%fields {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  transition: all 0.3s ease 0s;
  line-height: 1.5rem;
  font-weight: 300;
  &:focus{
    border-bottom: 1px solid #F06666;   
    }
}

input {
  @extend %fields;

  height: 2.5rem;
  font-size: .9rem;
  &_hidden {
    display: none
  }
  
}

textarea {
  @extend %fields;
}

button {
  width: 7.75rem;
  height: 2.4rem;
  border-radius: 5px;
  background-color: #f06666;
  color: #fff;
  border: none;
  font-family: Muli,sans-serif;
  font-size: .9rem;
  font-weight: 300;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  &:hover {
      filter: brightness(90%)
    }
}
// FOOTER -------------------------------

footer {
 display: flex;
 align-items: center; 
 justify-content: center;   
}

// Utilities --------------------------

.link {
    font-size: .9rem;
    //line-height: 1.1rem;
    font-weight: 700;    
    margin: 1rem 0 0px 0;
    //text-decoration: none;
    //color: #fff;
    &:hover {
        color:#f06666;
        cursor: pointer;
        transform: scale(1.05);
}
}
.navLink {
  margin: 0 5px 0 5px;
  font-family: Muli,sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  margin-left: 1.25rem;
  &::after {
      content: '';
      display: block;
      width: 0;
      height: 3px;
      background: #f06666;
      transition: width .5s;
      margin-top: 1rem;
  }
  &:hover::after {
      width: 100%;
  }  
}
.frame {
  height: 100%;
  width: 100%;
  position: absolute; 
  top: 0; 
  left: 0;
}

// MEDIA QUERIES -------------------------

@media screen and (max-width: 500px) {
    body {
      line-height: 1.2;
    }
    h1, h2 {  
        font-weight: 300;        
    }

    h1 {
      font-size: 2.5rem;
      margin: 10;  
    }
    h2{
      margin: 0;
      font-size: 1.5rem;   
    }
    h3 {
      font-size: 1rem;
      font-weight: 200;      
    }
    footer {
      display: flex;
      flex-direction: column;
  
    }
  }
 
